extends layout

block content
  h1= title
  hr
  p= 'Email: ' + info.email
  p= 'Notes: ' + info.notes
  p= 'Modified: ' + info.date
  a#editButton(href=`/contacts/${info.contactID}/edit`) Edit Contact
  | 
  a#deleteButton(href=`/contacts/${info.contactID}/delete`) Delete Contact