extends layout

block content
  h1= title
  hr
  p= info.email
  p= info.notes
  p= info.date
  a(href=`/contacts/${info.id}/edit`) Edit Contact
  | 
  a(href=`/contacts/${info.id}/delete`) Delete Contact